@page
@model RealEstateMarket.Api.Pages.RealEstate.ListAllModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table>

    <tr>
        <th>Region</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Street Name</th>
        <th>House Number</th>
        <th>Price</th>
        <th>Description</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    @foreach (var re in Model.RealEstates)
    {
        <tr>
            <td>@re.Region</td>
            <td>@re.City</td>
            <td>@re.ZipCode</td>
            <td>@re.StreetName</td>
            <td>@re.HouseNumber</td>
            <td>@re.Price</td>
            <td>@re.Description</td>
            <td>@re.Email</td>
            <td>@re.Phone</td>
            <td><a asp-page="./List" asp-route-id="@re.Id">Details</a></td>
            <td><a asp-page="./Edit" asp-route-id="@re.Id">Edit</a></td>
            <td><a asp-page="./Delete" asp-route-id="@re.Id">Delete</a></td>
        </tr>
    }

</table>